- provide(:title, t('.title'))
= render "layouts/subbar_top"
= render "layouts/nav_menu"
.wrapper
  .ad-img.m-top-10
    =image_tag("job_ad_1.jpg",:width=>"100%")
  .col-md-8.infor-attr
    .a-key
      =t('information.job.position')
    %ul.a-values
      %li
        -if @category
          =link_to "全部", information_index_path()
        -else
          =link_to "全部", information_index_path(),:class=>"visited"
      -@infoCategory.each do |p|
        %li
          -if @category&&@category.id==p.id
            =link_to p.title, information_index_path(:infocategory=>p.id),:class=>"visited";
          -else
            =link_to p.title, information_index_path(:infocategory=>p.id);
  .row.job-all
    .col-md-8
      %table.table.table-hover.table-bordered
        .job-list 
          .list-group
            .list-group-item.disabled
              %i.glyphicon.glyphicon-sort-by-alphabet
              校园信息列表
        %tbody
        - @information.each do |information|
          %tr
            %td
              %a{:href=>information_path(:id=>information.number)}
                .row
                  .col-md-6
                    %h4
                      = information.title
                  .col-md-3
                    -if information.info_category
                      %h5="#{information.info_category.title}"
                  .col-md-2.col-md-offset-1
                    %h5= information.created_at.strftime("%Y-%m-%d")
                %p.text-muted
                  = truncate(information.content,:length=>110)
    .col-md-3
      .row
        .col-md-11
          %a.btn.btn-block.btn-color.btn-blue{:href=>new_information_path}
            %i.glyphicon.glyphicon-send
            =t('information.send.information')
          .list-group.same-info
            .list-group-item.disabled
              %i.glyphicon.glyphicon-hand-up
              最热信息
            -@information_top.each_with_index do |t,i|
              .list-group-item
                =link_to "#{i+1}. #{truncate(t.title,:length=>10)}",information_path(:id=>t.number),:class=>"top-list"
          .col-md-6.padding-none
            =link_to "我要当家教",new_teacher_registration_path ,:class=>"btn btn-block btn-color"
          .col-md-6.padding-none
            =link_to "我要请家教",new_parent_registration_path,:class=>"btn btn-block btn-color"
            
  = paginate @information 
