= nested_form_for current_teacher,:url=>updateInfor_teachers_path,:html => {:multipart => true,:method=>"post",:class=>"form-horizontal tpadding", :autocomplete => "off"}, :validate => true do |f| 
  .form-group.te-mgb
    .col-md-12.col-xs-12
      .form-group
        .tpadding
          .form-group
            .tpadding
              .form-group
                .col-md-12.col-xs-12
                  .col-md-12.col-xs-12.info-bottom
                    .col-md-4.col-xs-4
                      %h4 我的教学生涯
                    .col-md-1.col-xs-1.col-md-offset-5.col-xs-offset-5
                      = f.link_to_add "添加", :careers, :data => { :target => "#careers_content" }, :class => "btn btn-success"
                    .col-md-2.col-xs-2
                      %button{ :class => "btn btn-success" }
                        %span{ :class => "glyphicon glyphicon-floppy-save" }
                        保存信息
          #careers_content  
          = f.fields_for :careers do |s|
            .panel.panel-default.tpanel-titles.tpanel-ab.b-radius
              .panel-heading.tpanel-titles.b-radius 
                .tpadding
                  .row
                    .col-md-4.col-xs-4
                      = "我的学生"
                    .col-md-1.col-xs-1.col-md-offset-7.col-xs-offset-7
                      = s.link_to_remove "", :data => { :confirm => "确定删除吗？" }, :class => "input-group btn-default glyphicon glyphicon-trash"
              .panel-body
                .row.form-group
                  .col-md-2.col-xs-2
                    .start-time
                      = s.text_field :start_time, :class => "form-control sel_time",  :'data-provide' => "datepicker", :'data-date-language' => "zh-CN", :'data-date-format' => "yyyy-mm-dd", :'data-date-autoclose' => "true", :'data-date-startView' => 1, :placeholder => "开始辅导时间"
                  .col-md-2.col-xs-2
                    .end-time
                      = s.text_field :end_time, :class => "form-control sel_time", :'data-provide' => "datepicker", :'data-date-language' => "zh-CN", :'data-date-format' => "yyyy-mm-dd", :'data-date-autoclose' => "true", :'data-date-startView' => 1, :placeholder => "辅导结束时间"
                  .col-md-2.col-xs-2
                    = s.text_field :child_name, :class => "form-control", :placeholder => "学生姓名"
                  .col-md-3.col-xs-3
                    = s.text_field :school, :class => "form-control", :placeholder => "学生所在学校"
                  .col-md-3.col-xs-3
                    = s.text_field :subject, :class => "form-control", :placeholder => "辅导科目"

                    -#  
                      .form-group
                        = s.label "姓名：", :class => ""
                      .form-group
                        = s.label "学校：", :class => ""
                        = s.text_field :school, :class => "form-control"
                      .form-group
                        = s.label "科目：", :class => ""
                        = s.text_field :subject, :class => "form-control"
                        -#    
                          = s.label "成绩：", :class => "control-label col-md-2 tp-left"
                          .col-md-2.tp-left
                            = s.text_field :before_score, :class => "form-control"
                          .col-md-1.tp-left.tmid
                            = s.label "到", :class => "control-label"
                          .col-md-2.tp-left
                            = s.text_field :after_score, :class => "form-control"

                .row
                  .col-md-12.col-xs-12
                    = s.text_area :content, :rows => 6, :class => "form-control", :placeholder => "请根据你对学生的辅导情况，谈谈辅导经验"
                    -#  
                      .panel.panel-default
                        .panel-heading.bg-success 谈谈辅导经验
                        .panel-body.tp-left.te-top.te-bottom
                      
      .form-group.tinfo-bottom.te-mgb
        .col-md-2.col-xs-2.col-md-offset-9.col-xs-offset-9
        -#  
          =f.submit "保存信息",:class=>" btn btn-success"
  = render "date"
