- provide(:title, t('.title'))

= render "layouts/header"
%div.p_main
  %div.p_wrapper
    = render :partial => "profile"
    %div.p_content
      %div.p_block
        %div.p_block_title.p_content_block_title
          %h4
            %i.glyphicon-color.glyphicon.glyphicon-asterisk
            密码更换
      %div.p_block
     
        = render "layouts/flash_messages"
      %div.p_block.p_modify_info
        = form_for @parent,:url => {:controller => "parents",:action => "modify_password_changed"}, :html=>{:class=>"form-horizontal"}  do |f|
          - if @parent.errors.any?
            #error_explanation
              %h2= "#{pluralize(@parent.errors.count, "error")} prohibited this order from being saved:"
              %ul
                - @parent.errors.each do |msg|
                  %li= msg
          = hidden_field_tag :id,@parent.id
          -# = f.hidden_field:reset_password_tokn
          %table.table
            %tr
              %td{:align => "right",:class => "p_modify_info_label"}
                请输入原密码
              %td
                = f.password_field :password,:class=>"form-control p_modify_info_text"
              %td 
            %tr
              %td{:align => "right"}
                请输入新密码
              %td
                = f.password_field :password_confirmation,:class => "form-control p_modify_info_text"
              %td
            %tr
              %td

              %td
                = f.submit "保存",:class => "btn btn-success"
                &nbsp;&nbsp;&nbsp;
                = link_to "取消",modify_password_parents_path,:class => "btn btn-warning"
       
